{% extends 'base.html' %}

{% block title %}SMU Mental Health and Wellness{% endblock %}

{% block content %}
    <script 
        src="https://www.unpkg.com/@propelauth/javascript@2.0.11/dist/javascript.min.js" 
        integrity="sha384-FENNH2f7QuQvkZJBL7jebLr0OtYKgTA2iq+C5g3VXXX7SBwWmeMMoc+pBBtcn76G" 
        crossorigin="anonymous"></script>
    <script id="auth-script" type="module" data-propelauth-base="{{propelauth_base}}" src="{{ url_for('static', filename='js/index.js') }}"></script>

   <section class="jumbotron text-center">
       <div class="container" id="display-when-logged-out">
           <h1 class="jumbotron-heading">Welcome!</h1>
           <p class="lead text-muted">
           Please login to the platform!
           </p>
           <button class="btn btn-primary my-2" id="login">Login</button>
           <button class="btn btn-secondary my-2" id="signup">Sign up</button>
       </div>
       <div class="container" id="display-when-logged-in" style="display: none;">
           <h1 class="jumbotron-heading">Welcome!</h1>
           <p class="lead text-muted">
           You are logged in, <span id="email"></span>
           </p>
           <button class="btn btn-primary my-2" id="account">Account</button>
           <button class="btn btn-secondary my-2" id="logout">Logout</button>
       </div>
   </section>

   <section id="authenticated">
   </section>

{% endblock %}

    
